/* ♀General settings */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  --dark-blue: hsl(243, 87%, 12%);
  --gray-blue: hsl(238, 22%, 44%);

  --blue: hsl(224, 93%, 58%);
  --cyan: hsl(170, 45%, 43%);

  --light-gray-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

/* Typography */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
}

h1,
h2 {
  font-family: "Raleway", Helvetica;
  font-weight: 700;
}

h2 {
  font-size: 1.25rem;
}

.menu__item {
  font-size: 0.95rem;
}

blockquote,
.testimonial__title {
  font-size: 0.85rem;
}
.testimonial__text {
  font-size: 0.7rem;
}

/* Layout */

.row {
  display: flex;
  justify-content: space-between;
}

*:focus {
  outline: hsl(224, 93%, 58%) dotted 3px;
}

.container {
  width: 85%;
  margin: 0 auto;

  text-align: center;
}

.menu {
  padding: 1.25em 0;
  margin-bottom: 3.5em;
}

.menu__list {
  list-style-type: none;
}

.menu__item {
  display: inline-block;
}

.menu__item + .menu__item {
  margin-left: 1.25em;
}

.menu__link {
  text-decoration: none;
  color: inherit;
}

.menu__link:hover {
  text-decoration: underline;
  text-decoration-color: var(--gray-blue);
  text-decoration-thickness: 0.1em;
}

.menu__logo {
  width: 150px;
  width: max(90px, 9vw);
}

.left-col,
.right-col {
  margin-bottom: 3em 0;
}

img {
  max-width: 100%;
}

.intro__img {
  margin-bottom: 3em;
}

.main__img {
  margin: 5em 0 3em 0;
}

.main__text,
.main__title {
  margin-bottom: 1.1em;
}

input[type="email"] {
  margin-top: 2em;
  display: block;
  width: 100%;
  padding: 0.8em 1.2em;
  font-family: inherit;
  color: hsl(0, 0%, 53%);
  border: 1px solid var(--gray-blue);
  border-radius: 5px;
}

button {
  margin-top: 1em;
  font-family: inherit;
  font-weight: bold;
  border-radius: 5px;
  background-color: hsl(224, 93%, 40%);
  display: block;
  border: none;
  color: #fff;
  padding: 0.8em 1.5em;
  width: 100%;
  box-shadow: 1px 1px 10px hsl(224, 93%, 80%);
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: hsl(224, 100%, 55%);
}

.bg-mobile {
  margin-top: 5em;

  background-repeat: no-repeat;
  background-size: 100%;
  /* padding top percentage is based on height divided by width */
  padding-top: 14.133333333333%;
  width: 100%;

  background-image: url(./images/bg-curve-mobile.svg);
}

.secondary {
  background-color: #f8f8fe;
  padding-bottom: 5em;
}

.main__text--left,
blockquote {
  text-align: left;
}

.main__text--gray {
  color: hsl(238, 22%, 44%);
}

.info-link {
  color: #3da08f;
  text-decoration: none;
  display: inline-block;
  margin-top: 1em;
  background: linear-gradient(#3da08f 0%, #3da08f 100%);
  padding-bottom: 5px;
  background-size: 2px 2px;
  background-repeat: repeat-x;
  background-position: 0 100%;
}
.info-link__logo {
  transition: 0.5s ease-in-out;
  transform: scale(1.6);
}
.info-link:hover > .info-link__logo {
  transform: scale(1.6) rotate(360deg) translateZ(0);
}

blockquote {
  background-color: #fff;
  line-height: 2;
  margin: 3em 0 0em 0;
  padding: 3.2em 1.5em 1.5em 1.5em;
  position: relative;
  border-radius: 5px;
  box-shadow: 4px 4px 10px hsl(0, 0%, 90%), -4px -4px 10px hsl(0, 0%, 90%);
}

blockquote::before {
  content: url(./images/icon-quotes.svg);
  top: 1.5em;
  position: absolute;
}

.testimonial {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

.avatar {
  border-radius: 100%;
  width: 15%;
}

.testimonial__title,
.testimonial__text {
  margin-left: 0.5em;
  line-height: 1.3;
}

.cta-bg {
  padding: 3em 0 4em 0;
  color: #fff;
  background-color: var(--gray-blue);
}

.cta__form {
  margin: 0 auto;
  width: 80%;
}

.cta__button {
  box-shadow: 1px 1px 10px hsl(238, 22%, 35%);
}

.footer {
  background-color: var(--dark-blue);
  color: #fff;
  padding: 3em 0;
}

.footer .container {
  text-align: left;
}

.footer__logo {
  fill: #fff;
}

.footer__list {
  list-style-type: none;
  margin: 2em 0;
  line-height: 2;
}

.footer__link {
  color: inherit;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.list__img {
  margin-right: 0.9em;
}

.icons {
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

ion-icon {
  color: #fff;
  padding: 0.5em;
  border-radius: 100%;
  border: 1px solid #fff;
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: var(--dark-blue);
  color: #fff;
  padding: 1em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media all and (min-width: 670px) {
  .container {
    max-width: 1200px;
    width: 90%;
  }

  .col {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .cta-bg > .col {
    flex-direction: row;
  }

  .left-col,
  .right-col {
    width: 45%;
  }
  input.main-input[type="email"],
  .main-button {
    display: inline-block;
  }
  input.main-input[type="email"] {
    width: 50%;
    margin-right: 1em;
  }
  .main-button {
    width: 40%;
  }

  .left-col {
    text-align: left;
  }

  .bg-mobile {
    background-image: url(./images/bg-curve-desktop.svg);
    padding-top: 7.91666666666%;
  }

  .cta__button {
    max-width: 45%;
  }

  .grid {
    display: grid;
    width: 85%;
    grid-template-columns: 1.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 2fr;
  }

  .footer__logo {
    grid-column: 1/5;
  }

  .footer__list {
    margin: 0;
  }
}
